.session-card-titles {
  color: black;
  font-family: $titles;
  font-size: 20px;
  font-weight: 400px;
  // margin-top: 20PX; ;
  // margin-bottom: 20px;
  // padding-top: 40px;
  // padding-left: 120px;
  opacity: 0.7;
}

.session-card-style {
  border-radius: 8px;
  background-color: rgba(252, 229, 215, 0.253);
}

.session-ad {
  margin-top: 80px;
  margin-bottom: 40px;
  align-content: center;
}

.session-ad-text {
  color:rgba(250, 229, 211, 0.98);
  font-family: $banner-font;
  font-size: 25px;   
}