.session-card-titles {
  color: black;
  font-family: $titles;
  font-size: 20px;
  font-weight: 400px;
  // margin-top: 20PX; ;
  // margin-bottom: 20px;
  // padding-top: 40px;
  // padding-left: 120px;
  opacity: 0.7;
}
