<div class="banner d-flex justify-content-around align-items-center">
  <div class="text">
    <h1>Sportix</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1694&q=80')">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Book me</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1589456506629-b2ea1a8576fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1751&q=80')">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Book me</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1526485856375-9110812fbf35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Book me</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <p>Made with 🧘‍♀️</p>
</div>
