<div class="body">
  <div class="banner">
        <div class="banner-text-slogan">
          Workout anywhere Teach to anyone
        </div>
        <div class="banner-text-info">
          Explore and book on-demand sports
        </div>
  </div>

  <div class="home-titles">
    Most popular sports
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem;">
          <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1694&q=80')">
          <div class="card-body">
            <h5 class="card-title">Yoga</h5>
            <p class="card-text">Yoga designed for real people—whether you’re a busy person in need of a quick morning energy boost, or a traveler looking to relax with a yoga nidra before sleep. Work up a sweat with an advanced vinyasa flow, or brush up on the basics in our accessible beginner classes. Whatever your level of experience, life stage, strength to mid-workday calm—we’ll help you create an online yoga practice that’s uniquely your own.</p>
            <a href="#" class="btn btn-primary btn-block">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem;">
          <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1589456506629-b2ea1a8576fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1751&q=80')">
          <div class="card-body">
            <h5 class="card-title">Boxing</h5>
            <p class="card-text">The right boxing workout for you will probably depend on your fitness goals and the environment you’re looking for. A typical class consists of floor work (where you’re likely on a padded floor doing conditioning drills like jumping jacks, sit ups, or quick feet), ring work, and bag or partner work. But classes can feel very different depending on where you go. Some studios blast playlists to give you a more familiar feel. </p>
            <a href="#" class="btn btn-primary btn-block">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem;">
          <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1526485856375-9110812fbf35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
          <div class="card-body">
            <h5 class="card-title">Surf</h5>
            <p class="card-text">Surfing lessons are one of the most unexpectedly amazing experiences you can have Lessons take place in Mexico. Licensed surfing professionals will show you how to read the waves, position your take off, stand up in your surfboard, and land safely. They will be with you in the water at all times, and will also take complementary pictures of your experience.</p>
            <a href="#" class="btn btn-primary btn-block">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-titles">
    Teachers favourites 
  </div>

  <div class="ad">

  </div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem;">
          <img class="card-img-top" style="background-image: url(https://images.unsplash.com/photo-1480099225005-2513c8947aec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2065&q=80)">
          <div class="card-body">
            <h5 class="card-title">Rugby</h5>
            <p class="card-text">Giving everything we need in our hand to run a decent session. We can run everything from an average session to a fantastic session, and that it just depends on where that coach is in their development as well. The difference being is that coach that is just running a decent session would be running a bad session without it.</p>
            <a href="#" class="btn btn-primary btn-block">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem;">
          <img class="card-img-top" style="background-image: url(https://images.unsplash.com/photo-1494488802316-82250d81cfcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
          <div class="card-body">
            <h5 class="card-title">Cycling</h5>
            <p class="card-text">Using an indoor track with all equipment provided. Our experienced instructors will guide you step by step, from getting on and off, to bike handling and balance. If you have specific needs you can also book a one-on-one lesson before joining a group session.  These will be provided in special circumstances free of charge or for an appropriate fee. Contact coach number and a bit more information. </p>
            <a href="#" class="btn btn-primary btn-block">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem;">
          <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1529156349890-84021ffa9107?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80')">
          <div class="card-body">
            <h5 class="card-title">Swimming</h5>
            <p class="card-text">Swim classes are a highly successful way for adults to quickly overcome a fear of water, learn water safety and how to swim correctly and safely. We know most people learn best by seeing. Our innovative technology includes instant video feedback and mirrors on the bottom of the pool. We understand the unique needs of the adult beginning swimmer so we customize our adult swim classes for each swimmer. Whether you are excited about learning the basics or are overcoming a fear of the water, our passionate instructors will design a program that helps you reach your goals.</p>
            <a href="#" class="btn btn-primary btn-block">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>Made with 🧘‍♀️</p>
  </div>
</div>
