.custombtn {
  background-color: white;
  color: $lightorange;
  border: 1px solid $lightorange;
  text: center;
  border-radius: 3px !important;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 200px !important;
  font-size: 11px !important;
  text-transform: uppercase;;
  &:hover {
    background-color: $lightorange;
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}