.category {
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 150px;
  border-radius: 15px;
  color: black;
  text-align: center;
  margin: auto;
  position : relative;
  h5 {
    position: absolute;
    top: 60px;
    left: 190px;
  }
}

