.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 0.8px solid grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}


.search-form {
  padding: 0 0 0 0;
}

.search-button {
  padding: 0 0 0 0;
}

.custom-avatar {
  cursor: pointer;
}
