.sportcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .sportcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .sportcards {
    grid-template-columns: 1fr;
  }
}
