.sportcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  border-radius: 5px;
  border-shadow: 5px 5px 5px rgba(200, 200, 200, 0.8);
}

.custombtn {
  position: absolute;
  bottom: 1em;
  margin-right: auto;
  margin-left: auto;
}

.nested-link {
  text-decoration: none;
}

@media(max-width: 992px) {
  .sportcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .sportcards {
    grid-template-columns: 1fr;
  }
}
