.titles-box{
  background-image:
  linear-gradient(to bottom, rgba(255, 164, 115, 0.3), rgba(245, 129, 52, 0.6));
  width: 750px;
  height: 100;
  margin-top: 100px;
  border-radius: 0px 5px 5px 0px;
}